################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyFeedReaderSolution/packages
/MyFeedReaderSolution/Wox.Plugin.MyFeedReader/bin/Debug
/MyFeedReaderSolution/Wox.Plugin.MyFeedReader/obj/Debug
.vs
